@font-face {
	font-family: "Futura";
	src: url("/assets/fonts/futura medium condensed bt.ttf") format("truetype");
}

:root {
	--header-color:#20509e;
}

html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	color: #777;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625em;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Futura", sans-serif;
	color: var(--header-color);
	line-height: 1.2em !important;
	text-rendering: optimizeLegibility;
	margin: 0;
	font-weight: 500;
	/*	font-weight: 600*/
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 15.7px;
	color: #75849a;
	line-height: 1.6;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spad {
	padding-top: 100px;
	padding-bottom: 90px;
}

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	margin-bottom: 20px;
	padding: 20px;
}

.section-title p {
	margin-bottom: 0;
	font-size: 24px;
}

.text-white {
	color: #fff!important;
}

.text-black {
	color: #000!important;
}

.text-align-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

/* Banner */

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.overlay-bg {
	background: rgba(0, 0, 0, 0.5);
	opacity: .8;
}

#main-banner {
	padding-bottom: 20px;
}

.banner-content {
	margin-top: -100px;	
}

.banner-area {
	background: url('assets/header-bg.jpg')center;
	background-size: cover
}

.banner-area .overlay-bg {
	background-color: rgba(59, 172, 240, 0.9)
}

/* Options */

.laptop-container img {
	z-index: 2;
}

.laptop-container {
	margin-top: -20em;
}

@media (max-width: 960px) {
	.laptop-container {
		margin-top: -16em;
	}
}

@media (max-width: 480px) {
	.laptop-container {
		margin-top: -10em
	}
}

.option-header {
	padding: 20px;
	padding-top: 48px;
}

.option-header h2 {
	color: var(--header-color);
}

.option-section .container {
	margin-bottom: -45px;
}

.option {
	margin-bottom: 45px;
	text-align: center;
	background-color: #f9f9ff;
	padding: 45px;
	border-radius: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.option i,
.option h3 {
	color: #222
}

.option .fas {
	font-size: 34px;
}

.option:hover {
	background-color: white;
	box-shadow: 0px 0px 20px 10px rgba(59, 172, 240, 0.2);
}

.option:hover .fas,
.option:hover h3 {
	color: lightskyblue;
}

.option i {
	font-size: 48px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.option h3 {
	margin-bottom: 15px;
}

/* Process */

.process {
	color: #fff!important;
}

.gradient-bg {
	background-image: -webkit-linear-gradient(left, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
	background-image: -o-linear-gradient(left, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
	background-image: linear-gradient(to right, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
}

.feature {
	margin-bottom: 48px;
}

.feature i {
	font-size: 48px;
	float: left;
	padding-top: 10px;
	margin-right: 25px;
	color: white;
}

.feature h5 {
	font-size: 24px;
	text-align: left;
	margin-bottom: 15px;
	color: white;
}

.feature p {
	text-align: left;
	margin-bottom: 15px;
	text-indent: 0;
	color: white;
}

.feature .feature-text {
	margin-left: 72px;
}

/* Team */


.team-section {
	background: #f3f7f9;
	overflow: hidden;
}

.team-members {
	margin: 0 -10px;
}

.member {
	background: #fff;
/*	width: calc(20% - 25px); */
	flex-grow: .33;
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.member span {
	font-size: 14px;
	color: #75849a;
	display: block;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 25px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #cbd3df;
	color: #fff;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 60px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}

.member-info p {
	display: block;
	padding-top: 25px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.6;
	color: #75849a;
}

.member-img.mf {
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}

/*
@media only screen and (max-width: 767px) { 
	.member {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
	}
}*/
