@font-face {
	font-family: "Futura";
	src: url("/assets/fonts/futura medium condensed bt.ttf") format("truetype");
}

:root {
	--header-color: #20509e;
}

html,
body {
	font-family: "Lato", sans-serif;
	color: #777;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625em;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Futura", sans-serif;
	color: var(--header-color);
	text-rendering: optimizeLegibility;
	margin: 0;
	font-weight: 500;
	/*	font-weight: 600*/
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 15.7px;
	color: #75849a;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spad {
	padding-top: 100px;
	padding-bottom: 90px;
}

.bottom-pad {
	padding-bottom: 90px;
}

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	margin-bottom: 20px;
	padding: 20px;
}

.section-title p {
	margin-bottom: 0;
	font-size: 24px;
}

.text-white {
	color: #fff!important;
}

.text-black {
	color: #000!important;
}

.text-align-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.relative {
	position: relative
}

.section-shadow {
	-webkit-box-shadow: 0px 0px 48px 10px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 48px 10px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 48px 10px rgba(0, 0, 0, 1);
	position: relative;
}

.bottom-shadow {
	-webkit-box-shadow: 0px 35px 60px -12px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 35px 60px -12px rgba(0, 0, 0, 1);
	box-shadow: 0px 35px 60px -12px rgba(0, 0, 0, 1);
	position: relative;
}

.section-inset-shadow {
	-webkit-box-shadow: inset 0px 88px 64px -80px rgba(0, 0, 0, 0.75), inset 0px -88px 64px -80px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 88px 64px -80px rgba(0, 0, 0, 0.75), inset 0px -88px 64px -80px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 88px 64px -80px rgba(0, 0, 0, 0.75), inset 0px -88px 64px -80px rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 5;
}

/* Header */

.header {
	padding: 14px 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 10;
}

.header.header-scrolled {
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.5s
}

@media (max-width: 673px) {
	#logo {
		margin-left: 20px
	}
}

#logo {
	background-size: contain;
	resize: both;
	height: 90px;
}

#header #logo h1 {
	font-size: 34px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 3px
}

#header #logo h1 a,
#header #logo h1 a:hover {
	color: #fff;
	padding-left: 10px;
	border-left: 4px solid #3bacf0
}

#header #logo img {
	padding: 0;
	margin: 0
}

@media (max-width: 768px) {
	#header #logo h1 {
		font-size: 28px
	}
	#header #logo img {
		max-height: 40px
	}
}

.ticker-btn {
	background: #88d200;
	color: #fff;
	padding: 6px 20px !important;
	text-transform: uppercase
}

.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99
}

.nav-menu li {
	position: relative;
	white-space: nowrap
}

.nav-menu > li {
	float: left
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
	display: block
}

.nav-menu ul ul {
	top: 0;
	left: 100%
}

.nav-menu ul li {
	min-width: 180px;
	text-align: left
}

#nav-menu-container {
	margin: 0
}

@media (min-width: 1024px) {
	#nav-menu-container {
		padding-right: 60px
	}
}

@media (max-width: 768px) {
	#nav-menu-container {
		display: none
	}
}

.nav-menu a {
	padding: 6px 10px;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	outline: none
}

.nav-menu > li {
	margin-left: 10px
}

.nav-menu ul {
	margin: 16px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: #fff
}

.nav-menu ul li {
	transition: 0.3s
}

.nav-menu ul li a {
	padding: 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 12px;
	text-transform: none
}

.nav-menu ul li:hover > a {
	color: #3bacf0
}

.nav-menu ul ul {
	margin: 0
}

#mobile-nav-toggle {
	position: fixed;
	right: 15px;
	z-index: 999;
	top: 16px;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer
}

#mobile-nav-toggle i {
	color: #fff;
	font-weight: 900
}

@media (max-width: 800px) {
	#mobile-nav-toggle {
		display: inline
	}
	#nav-menu-container {
		display: none
	}
}

body.mobile-nav-active {
	overflow: hidden
}

body.mobile-nav-active #mobile-nav {
	left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff
}
/* Banner */

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

/*
.overlay-bg {
	background: rgba(0, 0, 0, 0.5);
	opacity: .8;
}
*/

#main-banner {
	padding-bottom: 20px;
}

.banner-content {
	margin-top: -100px;
}

.banner-area {
	background: url('assets/header-bg.jpg')center;
	background-size: cover
}

.banner-area .overlay-bg {
	background-color: rgba(59, 172, 240, 0.9)
}

/* Options */

.laptop-container img {
	z-index: 2;
}

.laptop-container {
	margin-top: -20em;
}

@media (max-width: 960px) {
	.laptop-container {
		margin-top: -16em;
	}
}

@media (max-width: 480px) {
	.laptop-container {
		margin-top: -10em
	}
}

.option-header {
	padding: 20px;
	padding-top: 48px;
}

.option-header h2 {
	color: var(--header-color);
}

.option-section .container {
	margin-bottom: -45px;
}

.option {
	margin-bottom: 45px;
	text-align: center;
	background-color: #f9f9ff;
	padding: 45px;
	border-radius: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.option i,
.option h3 {
	color: #222
}

.option .fas {
	font-size: 34px;
}

.option:hover {
	background-color: white;
	box-shadow: 0px 0px 20px 10px rgba(59, 172, 240, 0.2);
}

.option:hover .fas,
.option:hover h3 {
	color: lightskyblue;
}

.option i {
	font-size: 48px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.option h3 {
	margin-bottom: 15px;
}

/* Process */

.process {
	color: #fff!important;
}

.gradient-bg {
	background-image: -webkit-linear-gradient(left, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
	background-image: -o-linear-gradient(left, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
	background-image: linear-gradient(to right, #073c8e, #005ba3, #0077ac, #0090ac, #19a8a8);
}

.feature {
	margin-bottom: 48px;
}

.feature i {
	font-size: 48px;
	float: left;
	padding-top: 10px;
	margin-right: 25px;
	color: white;
}

.feature h5 {
	font-size: 24px;
	text-align: left;
	margin-bottom: 15px;
	color: white;
}

.feature p {
	text-align: left;
	margin-bottom: 15px;
	text-indent: 0;
	color: white;
}

.feature .feature-text {
	margin-left: 72px;
}

/* Team */

.team-section {
	background: #f3f7f9;
	overflow: hidden;
}

.team-members {
	margin: 0 -10px;
}

.member {
	background: #fff;
	/*	width: calc(20% - 25px); */
	flex-grow: .33;
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	box-shadow: 1px 1px 1px rgba(33, 54, 61, 0.15);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.member span {
	font-size: 14px;
	color: #75849a;
	display: block;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
	box-shadow: 1px 14px 43px rgba(33, 54, 61, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 25px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #cbd3df;
	color: #fff;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 20px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}

.member-info p {
	display: block;
	padding-top: 25px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.6;
	color: #75849a;
}

.member-img.mf {
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}

/*
@media only screen and (max-width: 767px) { 
	.member {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
	}
}*/

/* Blog Section */

.blog-section {
	background: #f3f7f9;
}

.blog-section a {
	margin-bottom: 0;
}

.blog-text {
	background: white;
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px 0px rgba(223, 229, 231, 1);
	-moz-box-shadow: 0px 23px 49px 0px rgba(223, 229, 231, 1);
	box-shadow: 0px 23px 49px 0px rgba(223, 229, 231, 1);
}


/* Footer Section */

.footer-column {
	margin-left: 100px;
}

.footer-title {
	margin-bottom: 30px;
	font-size: 24px;
}

.footer-section span {
	color: #acb9cc;
}

.footer-section ul {
	list-style: none;
}

.footer-section ul a {
	font-size: 18px;
	color: #75849a;
	display: block;
	margin-bottom: 12px;
}

.footer-section ul li:last-child a {
	margin-bottom: 0;
}

.social a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 10px;
	font-size: 18px;
}

.social a:last-child {
	margin-right: 0;
}

.social .facebook {
	background: #4b6cd0;
}

.social .google {
	background: #f03b3b;
}

.social .instagram {
	background: #bb8950;
}

.social .twitter {
	background: #49a7f3;
}

.social .yelp {
	background: #D32323;
}

.social .linkedin {
	background: #4875B4;
}

.footer-bottom {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
}

.footer-nav {
	list-style: none;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li a {
	color: #75849a;
	font-size: 14px;
	margin-left: 20px;
}
