<!-- Banner Section -->

<section class="banner-area relative" id="banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<h1 class="text-white text-align-center text-bold" id="main-banner"><strong>About our company</strong></h1>
				<p class="pt-20 text-white text-align-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- End Banner Section -->

<!-- Details Section -->

<section class="relative spad">
	
</section>

<!-- End Details Section -->