<!-- Banner Section -->

<section class="banner-area relative" id="banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<h1 class="text-white text-align-center text-bold" id="main-banner"><strong>About our company</strong></h1>
				<p class="pt-20 text-white text-align-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- End Banner Section -->

<!-- Details Section -->

<section class="relative spad about-area">
	<div class="container">
		<h3 class="mb-30">Our Mission</h3>
		<div class="d-flex flex-column justify-content-start">
			<div class="">
				<img src="/assets/img/currency.jpg" class="img-fluid float-left img-text mr-20 mb-20">
				<p>Quisque vitae nisl imperdiet, tristique ante vitae, viverra magna. Ut nulla leo, placerat a suscipit sed, luctus a lacus. Proin ullamcorper varius blandit. Duis id justo ac felis porta varius vitae quis tortor. Aenean hendrerit, mi quis sagittis pulvinar, ante leo aliquam lectus, in bibendum tellus mauris quis velit. Phasellus elit lacus, varius a tristique sed, facilisis vel purus. Sed consequat auctor nunc, eget ullamcorper augue ultricies vel. Integer rhoncus scelerisque augue. Cras suscipit, libero a vestibulum porttitor, leo lacus laoreet elit, lobortis varius lectus sapien sit amet ex. Nullam pretium sem tellus, quis posuere purus sodales eu.</p>
			</div>
			<p>Quisque vitae nisl imperdiet, tristique ante vitae, viverra magna. Ut nulla leo, placerat a suscipit sed, luctus a lacus. Proin ullamcorper varius blandit. Duis id justo ac felis porta varius vitae quis tortor. Aenean hendrerit, mi quis sagittis pulvinar, ante leo aliquam lectus, in bibendum tellus mauris quis velit. Phasellus elit lacus, varius a tristique sed, facilisis vel purus. Sed consequat auctor nunc, eget ullamcorper augue ultricies vel. Integer rhoncus scelerisque augue. Cras suscipit, libero a vestibulum porttitor, leo lacus laoreet elit, lobortis varius lectus sapien sit amet ex. Nullam pretium sem tellus, quis posuere purus sodales eu.</p>
			<p>Quisque vitae nisl imperdiet, tristique ante vitae, viverra magna. Ut nulla leo, placerat a suscipit sed, luctus a lacus. Proin ullamcorper varius blandit. Duis id justo ac felis porta varius vitae quis tortor. Aenean hendrerit, mi quis sagittis pulvinar, ante leo aliquam lectus, in bibendum tellus mauris quis velit. Phasellus elit lacus, varius a tristique sed, facilisis vel purus. Sed consequat auctor nunc, eget ullamcorper augue ultricies vel. Integer rhoncus scelerisque augue. Cras suscipit, libero a vestibulum porttitor, leo lacus laoreet elit, lobortis varius lectus sapien sit amet ex. Nullam pretium sem tellus, quis posuere purus sodales eu.</p>
		</div>
	</div>
</section>

<!-- End Details Section -->
