<!-- Banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<h1 class="text-white text-align-center text-bold" id="main-banner"><strong>Lorem ipsum dolor sit</strong></h1>
				<p class="pt-20 text-white text-align-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Option Area -->
<section class="relative" id="options">
	<div class="container">
		<div class="row laptop-container">
			<img class="mx-auto d-block img-fluid" src="/assets/laptop.png">
		</div>
		<div class="row d-flex justify-content-center flex-column option-header">
			<h2 class="text-black">Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="d-flex flex-column option">
					<i class="fa-4x fas fa-pencil-alt"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-4x fas fa-sync"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>				
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-4x fas fa-stethoscope"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>				
			</div>
		</div>
		
	</div>
</section>
