<!-- Banner Section -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<h1 class="text-white text-align-center text-bold" id="main-banner"><strong>Lorem ipsum dolor sit</strong></h1>
				<p class="pt-20 text-white text-align-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Option Section -->
<section class="relative" id="options">
	<div class="container">
		<div class="row laptop-container">
			<img class="mx-auto d-block img-fluid" src="/assets/laptop.png">
		</div>
		<div class="row d-flex justify-content-center flex-column option-header">
			<h2 class="text-black">Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="d-flex flex-column option">
					<i class="fa-2x fas fa-pencil-alt"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-2x fas fa-sync"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-2x fas fa-stethoscope"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
		</div>
		<div class="row" id="image-grid">
			<div class="col-md-6 col-lg-4"></div>
		</div>
	</div>
</section>
<!-- Process Section -->
<section class="relative spad gradient-bg process" id="process">
	<div class="container">
		<div class="d-flex justify-content-center flex-column section-title">
			<h2 class="text-white">Lorem ipsum</h2>
			<p style="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row text-white d-flex">
			<div class="col-lg-4 feature">
				<i class="fas fa-user-shield"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-lg-4 feature">
				<i class="fas fa-clipboard-list"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-lg-4 feature">
				<i class="fas fa-venus"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>			
		</div>
	</div>
</section>
