<!-- Banner Section -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<h1 class="text-white text-align-center text-bold" id="main-banner"><strong>Lorem ipsum dolor sit</strong></h1>
				<p class="pt-20 text-white text-align-center">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- End Banner Section -->

<!-- Option Section -->

<section class="relative bottom-shadow bottom-pad" id="options">
	<div class="container">
		<div class="row laptop-container">
			<img class="mx-auto d-block img-fluid" src="/assets/laptop.png">
		</div>
		<div class="row d-flex justify-content-center flex-column text-center section-title option-header">
			<h2>Lorem ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="d-flex flex-column option">
					<i class="fa-2x fas fa-pencil-alt"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-2x fas fa-sync"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
			<div class="col-lg-4 option">
				<div class="d-flex flex-column">
					<i class="fa-2x fas fa-stethoscope"></i>
					<h3>Option</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar justo sed pharetra blandit.</p>
				</div>
			</div>
		</div>
		<div class="row" id="image-grid">
			<div class="col-md-6 col-lg-4"></div>
		</div>
	</div>
</section>

<!-- End Option Section -->


<!-- Process Section -->

<section class="relative spad gradient-bg process" id="process">
	<div class="container">
		<div class="d-flex justify-content-center flex-column text-center section-title">
			<h2 class="text-white">Lorem ipsum</h2>
			<p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row text-white d-flex">
			<div class="col-lg-4 feature">
				<i class="fas fa-user-shield"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-lg-4 feature">
				<i class="fas fa-clipboard-list"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-lg-4 feature">
				<i class="fas fa-venus"></i>
				<div class="feature-text">
					<h5>Lorem ipsum</h5>
					<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End Process Section -->


<!-- Team Section -->

<section class="relative spad section-shadow" id="team">
	<div class="container">
		<div class="d-flex justify-content-center flex-column text-center section-title">
			<h2>Meet Our Team</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
	</div>
	<div class="team-members d-flex justify-content-center">
		<!-- Member -->
		<div class="member">
			<div class="member-text">
				<div class="member-img set-bg" style="background-image: url('/assets/img/avatar1.png');"></div>
				<h4>Lorem Ipsum</h4>
				<p>Lorem Ipsum</p>
			</div>
			<div class="member-info">
				<div class="member-img mf set-bg" style="background-image: url('/assets/img/avatar1.png')"></div>
				<div class="member-meta">
					<h4>Lorem Ipsum</h4>
					<span>Lorem Ipsum</span>
				</div>
				<p>Dr. Sophia Yen has over 20 years of experience in medicine. She serves as a clinical Associate Professor of Pediatrics in the Division of Adolescent Medicine at Stanford Medical School. She graduated from MIT, UCSF Medical School, and UC Berkeley with a MPH in Maternal Child Health. Dr. Yen co-founded Pandia Health and enjoys educating the public and other physicians about birth control, acne, weight management, and other adolescent health issues. She has been featured in many publications for her work in reproductive health and as CEO of Pandia Health.</p>
			</div>
		</div>
		<!-- Member -->
		<div class="member">
			<div class="member-text">
				<div class="member-img set-bg" style="background-image: url('/assets/img/avatar2.png');"></div>
				<h4>Lorem Ipsum</h4>
				<p>Lorem Ipsum</p>
			</div>
			<div class="member-info">
				<div class="member-img mf set-bg" style="background-image: url('/assets/img/avatar2.png')"></div>
				<div class="member-meta">
					<h4>Lorem Ipsum</h4>
					<span>Lorem Ipsum</span>
				</div>
				<p>Dr. Sophia Yen has over 20 years of experience in medicine. She serves as a clinical Associate Professor of Pediatrics in the Division of Adolescent Medicine at Stanford Medical School. She graduated from MIT, UCSF Medical School, and UC Berkeley with a MPH in Maternal Child Health. Dr. Yen co-founded Pandia Health and enjoys educating the public and other physicians about birth control, acne, weight management, and other adolescent health issues. She has been featured in many publications for her work in reproductive health and as CEO of Pandia Health.</p>
			</div>
		</div>
		<!-- Member -->
		<div class="member">
			<div class="member-text">
				<div class="member-img set-bg" style="background-image: url('/assets/img/avatar3.png');"></div>
				<h4>Lorem Ipsum</h4>
				<p>Lorem Ipsum</p>
			</div>
			<div class="member-info">
				<div class="member-img mf set-bg" style="background-image: url('/assets/img/avatar3.png')"></div>
				<div class="member-meta">
					<h4>Lorem Ipsum</h4>
					<span>Lorem Ipsum</span>
				</div>
				<p>Dr. Sophia Yen has over 20 years of experience in medicine. She serves as a clinical Associate Professor of Pediatrics in the Division of Adolescent Medicine at Stanford Medical School. She graduated from MIT, UCSF Medical School, and UC Berkeley with a MPH in Maternal Child Health. Dr. Yen co-founded Pandia Health and enjoys educating the public and other physicians about birth control, acne, weight management, and other adolescent health issues. She has been featured in many publications for her work in reproductive health and as CEO of Pandia Health.</p>
			</div>
		</div>
	</div>
</section>

<!-- End Team Section -->


<!-- Blog Section -->

<section class="relative spad blog-section">
	<div class="container">
		<div class="d-flex justify-content-center flex-column text-center section-title">
			<h2>Learn More</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus.</p>
		</div>
		<div class="row">
			<!-- Item -->
			<div class="col-md-4">
				<div class="crop blog-item">
						<figure>
							<img class="image-fluid" src="/assets/img/youtube.png">
						</figure>
					<div class="blog-text">
						<h4>Lorem ipsum dolor sit amet</h4>
					</div>
				</div>
			</div>
			<!-- Item -->
			<div class="col-md-4">
				<div class="crop blog-item">
						<figure>
							<img class="image-fluid" src="/assets/img/youtube.png">
						</figure>
					<div class="blog-text">
						<h4>Lorem ipsum dolor sit amet</h4>
					</div>
				</div>
			</div>
			<!-- Item -->
			<div class="col-md-4">
				<div class="crop blog-item">
						<figure>
							<img class="image-fluid" src="/assets/img/youtube.png">
						</figure>
					<div class="blog-text">
						<h4>Lorem ipsum dolor sit amet</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
